<section id="user" class="centered">
    <% if(user) { %>
        <p>User information is not available.</p>   
    <% } else { %>
        <h2><%= user.username %>'s Profile</h2>
        <p>Welcome <%=user.username%> <br>We are so happy to see you!</p>
    <% } %>
</section>